BilliardWindowsApplication/Web References/biliardService/BilliardScoreboard.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://tempuri.org/">
      <s:element name="GetClubName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prefixText" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClubNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClubNameResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prefixText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prefixText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckPasswordResult" type="tns:ArrayOfDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Details" nillable="true" type="tns:Details" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Details">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PlayerId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClubId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FamilyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlayerPicture" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClubName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClubPicture" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getPlayerDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="playerName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPlayerDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPlayerDetailsResult" type="tns:Details" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePlayerLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePlayerLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdatePlayerLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getClubDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getClubDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getClubDetailsResult" type="tns:clubDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clubDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="clubId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClubName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClubLogo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactPerson" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VatNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cell" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getClubPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getClubPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getClubPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sub" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getmailResponse">
        <s:complexType />
      </s:element>
      <s:element name="getmailwithattach">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sub" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getmailwithattachResponse">
        <s:complexType />
      </s:element>
      <s:element name="checkupdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="app" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="version" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkupdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkupdateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="daysCost">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clubid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="billiardno" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nodays" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="daysCostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="daysCostResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCostDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clubid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bilino" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCostDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCostDetailsResult" type="tns:costDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="costDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="clubid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="bilino" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="f1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="t1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="h1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="d1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="f2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="t2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="h2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="d2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="f3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="t3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="h3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="d3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="f4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="t4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="h4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="d4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SpecialCharge" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SpecialBool" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DownloadExel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="costvisible" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="emailcostPlayer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="emailcostowner" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="coston" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="updatecostdays">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="details" type="tns:costDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updatecostdaysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updatecostdaysResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateCostDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="details" type="tns:costDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateCostDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateCostDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setScoreData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="details" type="tns:ScoreData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ScoreData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="gameid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="color" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="setdata" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="setid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="tlavail" type="s:boolean" />
		  <s:element minOccurs="1" maxOccurs="1" name="replayrecord" type="s:int" />
		  <s:element minOccurs="1" maxOccurs="1" name="replayset" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="setScoreDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="setScoreDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delScoreData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="details" type="tns:ScoreData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delScoreDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="delScoreDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteScoreData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteScoreDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deleteScoreDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadTeacherHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="teacherName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadTeacherHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="downloadTeacherHistoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="uploadTeacherHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="teacherName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="meta_data" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="shot_data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="uploadTeacherHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadTeacherHistoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="uploadGameHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="gameID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="game_data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="uploadGameHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadGameHistoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAppDataPath">
        <s:complexType />
      </s:element>
      <s:element name="getAppDataPathResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAppDataPathResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScoreNationName">
        <s:complexType />
      </s:element>
      <s:element name="GetScoreNationNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScoreNationNameResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScoreCityName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="givennation" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScoreCityNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScoreCityNameResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScoreClubName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="givencity" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScoreClubNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScoreClubNameResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScoreFname">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="givenclub" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScoreFnameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScoreFnameResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScoreName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="givenfname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScoreNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScoreNameResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScoreGameListWeb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="givenemail" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="page" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScoreGameListWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScoreGameListWebResult" type="tns:ArrayOfGamecostdetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGamecostdetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="gamecostdetails" nillable="true" type="tns:gamecostdetails" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="gamecostdetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="clubid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="billno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="p1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="p2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="p3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="p4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="noplayers" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="costplayer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="totcost" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fromtime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="totime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="duration" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="gameover" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="usbrelay" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetScoreStatistic">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="gameid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScoreStatisticResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScoreStatisticResult" type="tns:ArrayOfScorePlayerData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfScorePlayerData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ScorePlayerData" nillable="true" type="tns:ScorePlayerData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ScorePlayerData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FamilyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClubId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClubName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClubLogo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlayerPicture" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="playerno" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetScoreData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="givengameid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScoreDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScoreDataResult" type="tns:ArrayOfScoreData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfScoreData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ScoreData" nillable="true" type="tns:ScoreData" />
        </s:sequence>
      </s:complexType>
      <s:element name="Updategamecost">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="details" type="tns:gamecostdetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdategamecostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdategamecostResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deletelastgamecostiffree">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="details" type="tns:gamecostdetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deletelastgamecostiffreeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deletelastgamecostiffreeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertgamecost">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="details" type="tns:gamecostdetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertgamecostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertgamecostResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checklastgamecost">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="details" type="tns:gamecostdetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checklastgamecostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checklastgamecostResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkusbrelay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkusbrelayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkusbrelayResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listOfopenBilliard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClubId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listOfopenBilliardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listOfopenBilliardResult" type="tns:ArrayOfGamecostdetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Updategamecoststatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdategamecoststatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdategamecoststatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Updategameusbrelay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usbrelay" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdategameusbrelayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdategameusbrelayResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetClubNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetClubName" />
  </wsdl:message>
  <wsdl:message name="GetClubNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetClubNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:GetPassword" />
  </wsdl:message>
  <wsdl:message name="GetPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:GetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="CheckPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:CheckPassword" />
  </wsdl:message>
  <wsdl:message name="CheckPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:CheckPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="getPlayerDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:getPlayerDetails" />
  </wsdl:message>
  <wsdl:message name="getPlayerDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:getPlayerDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePlayerLoginSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePlayerLogin" />
  </wsdl:message>
  <wsdl:message name="UpdatePlayerLoginSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePlayerLoginResponse" />
  </wsdl:message>
  <wsdl:message name="getClubDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:getClubDetails" />
  </wsdl:message>
  <wsdl:message name="getClubDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:getClubDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="getClubPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:getClubPassword" />
  </wsdl:message>
  <wsdl:message name="getClubPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:getClubPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="getmailSoapIn">
    <wsdl:part name="parameters" element="tns:getmail" />
  </wsdl:message>
  <wsdl:message name="getmailSoapOut">
    <wsdl:part name="parameters" element="tns:getmailResponse" />
  </wsdl:message>
  <wsdl:message name="getmailwithattachSoapIn">
    <wsdl:part name="parameters" element="tns:getmailwithattach" />
  </wsdl:message>
  <wsdl:message name="getmailwithattachSoapOut">
    <wsdl:part name="parameters" element="tns:getmailwithattachResponse" />
  </wsdl:message>
  <wsdl:message name="checkupdateSoapIn">
    <wsdl:part name="parameters" element="tns:checkupdate" />
  </wsdl:message>
  <wsdl:message name="checkupdateSoapOut">
    <wsdl:part name="parameters" element="tns:checkupdateResponse" />
  </wsdl:message>
  <wsdl:message name="daysCostSoapIn">
    <wsdl:part name="parameters" element="tns:daysCost" />
  </wsdl:message>
  <wsdl:message name="daysCostSoapOut">
    <wsdl:part name="parameters" element="tns:daysCostResponse" />
  </wsdl:message>
  <wsdl:message name="getCostDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:getCostDetails" />
  </wsdl:message>
  <wsdl:message name="getCostDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:getCostDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="updatecostdaysSoapIn">
    <wsdl:part name="parameters" element="tns:updatecostdays" />
  </wsdl:message>
  <wsdl:message name="updatecostdaysSoapOut">
    <wsdl:part name="parameters" element="tns:updatecostdaysResponse" />
  </wsdl:message>
  <wsdl:message name="updateCostDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:updateCostDetails" />
  </wsdl:message>
  <wsdl:message name="updateCostDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:updateCostDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="setScoreDataSoapIn">
    <wsdl:part name="parameters" element="tns:setScoreData" />
  </wsdl:message>
  <wsdl:message name="setScoreDataSoapOut">
    <wsdl:part name="parameters" element="tns:setScoreDataResponse" />
  </wsdl:message>
  <wsdl:message name="delScoreDataSoapIn">
    <wsdl:part name="parameters" element="tns:delScoreData" />
  </wsdl:message>
  <wsdl:message name="delScoreDataSoapOut">
    <wsdl:part name="parameters" element="tns:delScoreDataResponse" />
  </wsdl:message>
  <wsdl:message name="deleteScoreDataSoapIn">
    <wsdl:part name="parameters" element="tns:deleteScoreData" />
  </wsdl:message>
  <wsdl:message name="deleteScoreDataSoapOut">
    <wsdl:part name="parameters" element="tns:deleteScoreDataResponse" />
  </wsdl:message>
  <wsdl:message name="downloadTeacherHistorySoapIn">
    <wsdl:part name="parameters" element="tns:downloadTeacherHistory" />
  </wsdl:message>
  <wsdl:message name="downloadTeacherHistorySoapOut">
    <wsdl:part name="parameters" element="tns:downloadTeacherHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="uploadTeacherHistorySoapIn">
    <wsdl:part name="parameters" element="tns:uploadTeacherHistory" />
  </wsdl:message>
  <wsdl:message name="uploadTeacherHistorySoapOut">
    <wsdl:part name="parameters" element="tns:uploadTeacherHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="uploadGameHistorySoapIn">
    <wsdl:part name="parameters" element="tns:uploadGameHistory" />
  </wsdl:message>
  <wsdl:message name="uploadGameHistorySoapOut">
    <wsdl:part name="parameters" element="tns:uploadGameHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="getAppDataPathSoapIn">
    <wsdl:part name="parameters" element="tns:getAppDataPath" />
  </wsdl:message>
  <wsdl:message name="getAppDataPathSoapOut">
    <wsdl:part name="parameters" element="tns:getAppDataPathResponse" />
  </wsdl:message>
  <wsdl:message name="GetScoreNationNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetScoreNationName" />
  </wsdl:message>
  <wsdl:message name="GetScoreNationNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetScoreNationNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetScoreCityNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetScoreCityName" />
  </wsdl:message>
  <wsdl:message name="GetScoreCityNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetScoreCityNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetScoreClubNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetScoreClubName" />
  </wsdl:message>
  <wsdl:message name="GetScoreClubNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetScoreClubNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetScoreFnameSoapIn">
    <wsdl:part name="parameters" element="tns:GetScoreFname" />
  </wsdl:message>
  <wsdl:message name="GetScoreFnameSoapOut">
    <wsdl:part name="parameters" element="tns:GetScoreFnameResponse" />
  </wsdl:message>
  <wsdl:message name="GetScoreNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetScoreName" />
  </wsdl:message>
  <wsdl:message name="GetScoreNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetScoreNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetScoreGameListWebSoapIn">
    <wsdl:part name="parameters" element="tns:GetScoreGameListWeb" />
  </wsdl:message>
  <wsdl:message name="GetScoreGameListWebSoapOut">
    <wsdl:part name="parameters" element="tns:GetScoreGameListWebResponse" />
  </wsdl:message>
  <wsdl:message name="GetScoreStatisticSoapIn">
    <wsdl:part name="parameters" element="tns:GetScoreStatistic" />
  </wsdl:message>
  <wsdl:message name="GetScoreStatisticSoapOut">
    <wsdl:part name="parameters" element="tns:GetScoreStatisticResponse" />
  </wsdl:message>
  <wsdl:message name="GetScoreDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetScoreData" />
  </wsdl:message>
  <wsdl:message name="GetScoreDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetScoreDataResponse" />
  </wsdl:message>
  <wsdl:message name="UpdategamecostSoapIn">
    <wsdl:part name="parameters" element="tns:Updategamecost" />
  </wsdl:message>
  <wsdl:message name="UpdategamecostSoapOut">
    <wsdl:part name="parameters" element="tns:UpdategamecostResponse" />
  </wsdl:message>
  <wsdl:message name="deletelastgamecostiffreeSoapIn">
    <wsdl:part name="parameters" element="tns:deletelastgamecostiffree" />
  </wsdl:message>
  <wsdl:message name="deletelastgamecostiffreeSoapOut">
    <wsdl:part name="parameters" element="tns:deletelastgamecostiffreeResponse" />
  </wsdl:message>
  <wsdl:message name="insertgamecostSoapIn">
    <wsdl:part name="parameters" element="tns:insertgamecost" />
  </wsdl:message>
  <wsdl:message name="insertgamecostSoapOut">
    <wsdl:part name="parameters" element="tns:insertgamecostResponse" />
  </wsdl:message>
  <wsdl:message name="checklastgamecostSoapIn">
    <wsdl:part name="parameters" element="tns:checklastgamecost" />
  </wsdl:message>
  <wsdl:message name="checklastgamecostSoapOut">
    <wsdl:part name="parameters" element="tns:checklastgamecostResponse" />
  </wsdl:message>
  <wsdl:message name="checkusbrelaySoapIn">
    <wsdl:part name="parameters" element="tns:checkusbrelay" />
  </wsdl:message>
  <wsdl:message name="checkusbrelaySoapOut">
    <wsdl:part name="parameters" element="tns:checkusbrelayResponse" />
  </wsdl:message>
  <wsdl:message name="listOfopenBilliardSoapIn">
    <wsdl:part name="parameters" element="tns:listOfopenBilliard" />
  </wsdl:message>
  <wsdl:message name="listOfopenBilliardSoapOut">
    <wsdl:part name="parameters" element="tns:listOfopenBilliardResponse" />
  </wsdl:message>
  <wsdl:message name="UpdategamecoststatusSoapIn">
    <wsdl:part name="parameters" element="tns:Updategamecoststatus" />
  </wsdl:message>
  <wsdl:message name="UpdategamecoststatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdategamecoststatusResponse" />
  </wsdl:message>
  <wsdl:message name="UpdategameusbrelaySoapIn">
    <wsdl:part name="parameters" element="tns:Updategameusbrelay" />
  </wsdl:message>
  <wsdl:message name="UpdategameusbrelaySoapOut">
    <wsdl:part name="parameters" element="tns:UpdategameusbrelayResponse" />
  </wsdl:message>
  <wsdl:portType name="BilliardScoreboardSoap">
    <wsdl:operation name="GetClubName">
      <wsdl:input message="tns:GetClubNameSoapIn" />
      <wsdl:output message="tns:GetClubNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPassword">
      <wsdl:input message="tns:GetPasswordSoapIn" />
      <wsdl:output message="tns:GetPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckPassword">
      <wsdl:input message="tns:CheckPasswordSoapIn" />
      <wsdl:output message="tns:CheckPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPlayerDetails">
      <wsdl:input message="tns:getPlayerDetailsSoapIn" />
      <wsdl:output message="tns:getPlayerDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerLogin">
      <wsdl:input message="tns:UpdatePlayerLoginSoapIn" />
      <wsdl:output message="tns:UpdatePlayerLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getClubDetails">
      <wsdl:input message="tns:getClubDetailsSoapIn" />
      <wsdl:output message="tns:getClubDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getClubPassword">
      <wsdl:input message="tns:getClubPasswordSoapIn" />
      <wsdl:output message="tns:getClubPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getmail">
      <wsdl:input message="tns:getmailSoapIn" />
      <wsdl:output message="tns:getmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getmailwithattach">
      <wsdl:input message="tns:getmailwithattachSoapIn" />
      <wsdl:output message="tns:getmailwithattachSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkupdate">
      <wsdl:input message="tns:checkupdateSoapIn" />
      <wsdl:output message="tns:checkupdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="daysCost">
      <wsdl:input message="tns:daysCostSoapIn" />
      <wsdl:output message="tns:daysCostSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCostDetails">
      <wsdl:input message="tns:getCostDetailsSoapIn" />
      <wsdl:output message="tns:getCostDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updatecostdays">
      <wsdl:input message="tns:updatecostdaysSoapIn" />
      <wsdl:output message="tns:updatecostdaysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateCostDetails">
      <wsdl:input message="tns:updateCostDetailsSoapIn" />
      <wsdl:output message="tns:updateCostDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setScoreData">
      <wsdl:input message="tns:setScoreDataSoapIn" />
      <wsdl:output message="tns:setScoreDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delScoreData">
      <wsdl:input message="tns:delScoreDataSoapIn" />
      <wsdl:output message="tns:delScoreDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteScoreData">
      <wsdl:input message="tns:deleteScoreDataSoapIn" />
      <wsdl:output message="tns:deleteScoreDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="downloadTeacherHistory">
      <wsdl:input message="tns:downloadTeacherHistorySoapIn" />
      <wsdl:output message="tns:downloadTeacherHistorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="uploadTeacherHistory">
      <wsdl:input message="tns:uploadTeacherHistorySoapIn" />
      <wsdl:output message="tns:uploadTeacherHistorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="uploadGameHistory">
      <wsdl:input message="tns:uploadGameHistorySoapIn" />
      <wsdl:output message="tns:uploadGameHistorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAppDataPath">
      <wsdl:input message="tns:getAppDataPathSoapIn" />
      <wsdl:output message="tns:getAppDataPathSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScoreNationName">
      <wsdl:input message="tns:GetScoreNationNameSoapIn" />
      <wsdl:output message="tns:GetScoreNationNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScoreCityName">
      <wsdl:input message="tns:GetScoreCityNameSoapIn" />
      <wsdl:output message="tns:GetScoreCityNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScoreClubName">
      <wsdl:input message="tns:GetScoreClubNameSoapIn" />
      <wsdl:output message="tns:GetScoreClubNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScoreFname">
      <wsdl:input message="tns:GetScoreFnameSoapIn" />
      <wsdl:output message="tns:GetScoreFnameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScoreName">
      <wsdl:input message="tns:GetScoreNameSoapIn" />
      <wsdl:output message="tns:GetScoreNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScoreGameListWeb">
      <wsdl:input message="tns:GetScoreGameListWebSoapIn" />
      <wsdl:output message="tns:GetScoreGameListWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScoreStatistic">
      <wsdl:input message="tns:GetScoreStatisticSoapIn" />
      <wsdl:output message="tns:GetScoreStatisticSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScoreData">
      <wsdl:input message="tns:GetScoreDataSoapIn" />
      <wsdl:output message="tns:GetScoreDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Updategamecost">
      <wsdl:input message="tns:UpdategamecostSoapIn" />
      <wsdl:output message="tns:UpdategamecostSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deletelastgamecostiffree">
      <wsdl:input message="tns:deletelastgamecostiffreeSoapIn" />
      <wsdl:output message="tns:deletelastgamecostiffreeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertgamecost">
      <wsdl:input message="tns:insertgamecostSoapIn" />
      <wsdl:output message="tns:insertgamecostSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checklastgamecost">
      <wsdl:input message="tns:checklastgamecostSoapIn" />
      <wsdl:output message="tns:checklastgamecostSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkusbrelay">
      <wsdl:input message="tns:checkusbrelaySoapIn" />
      <wsdl:output message="tns:checkusbrelaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listOfopenBilliard">
      <wsdl:input message="tns:listOfopenBilliardSoapIn" />
      <wsdl:output message="tns:listOfopenBilliardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Updategamecoststatus">
      <wsdl:input message="tns:UpdategamecoststatusSoapIn" />
      <wsdl:output message="tns:UpdategamecoststatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Updategameusbrelay">
      <wsdl:input message="tns:UpdategameusbrelaySoapIn" />
      <wsdl:output message="tns:UpdategameusbrelaySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BilliardScoreboardSoap" type="tns:BilliardScoreboardSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClubName">
      <soap:operation soapAction="https://tempuri.org/GetClubName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPassword">
      <soap:operation soapAction="https://tempuri.org/GetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPassword">
      <soap:operation soapAction="https://tempuri.org/CheckPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPlayerDetails">
      <soap:operation soapAction="https://tempuri.org/getPlayerDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerLogin">
      <soap:operation soapAction="https://tempuri.org/UpdatePlayerLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClubDetails">
      <soap:operation soapAction="https://tempuri.org/getClubDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClubPassword">
      <soap:operation soapAction="https://tempuri.org/getClubPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getmail">
      <soap:operation soapAction="https://tempuri.org/getmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getmailwithattach">
      <soap:operation soapAction="https://tempuri.org/getmailwithattach" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkupdate">
      <soap:operation soapAction="https://tempuri.org/checkupdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="daysCost">
      <soap:operation soapAction="https://tempuri.org/daysCost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCostDetails">
      <soap:operation soapAction="https://tempuri.org/getCostDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatecostdays">
      <soap:operation soapAction="https://tempuri.org/updatecostdays" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCostDetails">
      <soap:operation soapAction="https://tempuri.org/updateCostDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setScoreData">
      <soap:operation soapAction="https://tempuri.org/setScoreData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delScoreData">
      <soap:operation soapAction="https://tempuri.org/delScoreData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteScoreData">
      <soap:operation soapAction="https://tempuri.org/deleteScoreData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadTeacherHistory">
      <soap:operation soapAction="https://tempuri.org/downloadTeacherHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadTeacherHistory">
      <soap:operation soapAction="https://tempuri.org/uploadTeacherHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadGameHistory">
      <soap:operation soapAction="https://tempuri.org/uploadGameHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAppDataPath">
      <soap:operation soapAction="https://tempuri.org/getAppDataPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScoreNationName">
      <soap:operation soapAction="https://tempuri.org/GetScoreNationName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScoreCityName">
      <soap:operation soapAction="https://tempuri.org/GetScoreCityName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScoreClubName">
      <soap:operation soapAction="https://tempuri.org/GetScoreClubName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScoreFname">
      <soap:operation soapAction="https://tempuri.org/GetScoreFname" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScoreName">
      <soap:operation soapAction="https://tempuri.org/GetScoreName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScoreGameListWeb">
      <soap:operation soapAction="https://tempuri.org/GetScoreGameListWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScoreStatistic">
      <soap:operation soapAction="https://tempuri.org/GetScoreStatistic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScoreData">
      <soap:operation soapAction="https://tempuri.org/GetScoreData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Updategamecost">
      <soap:operation soapAction="https://tempuri.org/Updategamecost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletelastgamecostiffree">
      <soap:operation soapAction="https://tempuri.org/deletelastgamecostiffree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertgamecost">
      <soap:operation soapAction="https://tempuri.org/insertgamecost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checklastgamecost">
      <soap:operation soapAction="https://tempuri.org/checklastgamecost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkusbrelay">
      <soap:operation soapAction="https://tempuri.org/checkusbrelay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listOfopenBilliard">
      <soap:operation soapAction="https://tempuri.org/listOfopenBilliard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Updategamecoststatus">
      <soap:operation soapAction="https://tempuri.org/Updategamecoststatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Updategameusbrelay">
      <soap:operation soapAction="https://tempuri.org/Updategameusbrelay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BilliardScoreboardSoap12" type="tns:BilliardScoreboardSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClubName">
      <soap12:operation soapAction="https://tempuri.org/GetClubName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPassword">
      <soap12:operation soapAction="https://tempuri.org/GetPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPassword">
      <soap12:operation soapAction="https://tempuri.org/CheckPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPlayerDetails">
      <soap12:operation soapAction="https://tempuri.org/getPlayerDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerLogin">
      <soap12:operation soapAction="https://tempuri.org/UpdatePlayerLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClubDetails">
      <soap12:operation soapAction="https://tempuri.org/getClubDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClubPassword">
      <soap12:operation soapAction="https://tempuri.org/getClubPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getmail">
      <soap12:operation soapAction="https://tempuri.org/getmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getmailwithattach">
      <soap12:operation soapAction="https://tempuri.org/getmailwithattach" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkupdate">
      <soap12:operation soapAction="https://tempuri.org/checkupdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="daysCost">
      <soap12:operation soapAction="https://tempuri.org/daysCost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCostDetails">
      <soap12:operation soapAction="https://tempuri.org/getCostDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatecostdays">
      <soap12:operation soapAction="https://tempuri.org/updatecostdays" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCostDetails">
      <soap12:operation soapAction="https://tempuri.org/updateCostDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setScoreData">
      <soap12:operation soapAction="https://tempuri.org/setScoreData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delScoreData">
      <soap12:operation soapAction="https://tempuri.org/delScoreData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteScoreData">
      <soap12:operation soapAction="https://tempuri.org/deleteScoreData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadTeacherHistory">
      <soap12:operation soapAction="https://tempuri.org/downloadTeacherHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadTeacherHistory">
      <soap12:operation soapAction="https://tempuri.org/uploadTeacherHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAppDataPath">
      <soap12:operation soapAction="https://tempuri.org/getAppDataPath" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScoreNationName">
      <soap12:operation soapAction="https://tempuri.org/GetScoreNationName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScoreCityName">
      <soap12:operation soapAction="https://tempuri.org/GetScoreCityName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScoreClubName">
      <soap12:operation soapAction="https://tempuri.org/GetScoreClubName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScoreFname">
      <soap12:operation soapAction="https://tempuri.org/GetScoreFname" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScoreName">
      <soap12:operation soapAction="https://tempuri.org/GetScoreName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScoreGameListWeb">
      <soap12:operation soapAction="https://tempuri.org/GetScoreGameListWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScoreStatistic">
      <soap12:operation soapAction="https://tempuri.org/GetScoreStatistic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScoreData">
      <soap12:operation soapAction="https://tempuri.org/GetScoreData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Updategamecost">
      <soap12:operation soapAction="https://tempuri.org/Updategamecost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletelastgamecostiffree">
      <soap12:operation soapAction="https://tempuri.org/deletelastgamecostiffree" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertgamecost">
      <soap12:operation soapAction="https://tempuri.org/insertgamecost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checklastgamecost">
      <soap12:operation soapAction="https://tempuri.org/checklastgamecost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkusbrelay">
      <soap12:operation soapAction="https://tempuri.org/checkusbrelay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listOfopenBilliard">
      <soap12:operation soapAction="https://tempuri.org/listOfopenBilliard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Updategamecoststatus">
      <soap12:operation soapAction="https://tempuri.org/Updategamecoststatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Updategameusbrelay">
      <soap12:operation soapAction="https://tempuri.org/Updategameusbrelay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BilliardScoreboard">
    <wsdl:port name="BilliardScoreboardSoap" binding="tns:BilliardScoreboardSoap">
      <soap:address location="http://track.biliardoprofessionale.it/BilliardScoreboard.asmx" />
    </wsdl:port>
    <wsdl:port name="BilliardScoreboardSoap12" binding="tns:BilliardScoreboardSoap12">
      <soap12:address location="http://track.biliardoprofessionale.it/BilliardScoreboard.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>